.button {
  background-color: var(--background-color);
  padding: var(--padding);
  font-size: var(--font-size);
  color: #FFF;
  border-color: transparent;
  border-Radius: 4px; 
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  border-color: blue;
}

.button:focus {
  outline: none;
  border-color: red;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  padding: 16px 0;
  align-items: center;
  gap: .5rem;
  background-color: var(--bg-color);
}
